* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "outfit";
    src: url(../ASSETS/FONTS/outfit/Outfit-VariableFont_wght.ttf) format("truetype");
    font-weight: 400, 600, 700;
}

@font-face {
    font-family: "young-serif";
    src: url(../ASSETS/FONTS/young-serif/YoungSerif-Regular.ttf) format("truetype");
    font-weight: 400;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(18, 86%, 89%);
}

p {
    font-family: outfit;
    font-size: 16px;
    color: hsl(30, 10%, 34%);
}

.recipe-main {
    background-color: hsl(0, 0%, 100%);
    width: 90%;
    max-width: 700px;
    padding: 30px;
    border-radius: 20px;
}

.recipe-main h3 {
    font-family: "young-serif";
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: hsl(14, 45%, 36%);
    padding-top: 20px;
}

.main-img {
    display: block;
    width: 100%;
    border-radius: 20px;
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px 0;
}

.heading h1 {
    font-family: "young-serif";
    color: hsl(24, 5%, 18%);
    letter-spacing: 2px;
}

.prep-time {
    font-family: outfit;
    background-color: hsl(330, 100%, 95%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
}

.prep-time h2 {
    font-weight: 600;
    color: hsl(332, 51%, 32%);
    font-size: 1.2rem;
}

.prep-time ul {
    color: hsl(30, 10%, 34%);
    list-style-position: inside;
    padding-left: 10px;
}

.prep-time ul li {
    line-height: 2;
}

.prep-time ul li::marker {
    color: hsl(332, 51%, 32%);
}

.prep-time ul span {
    color: hsl(30, 10%, 34%);
    font-weight: 600;
}

.ingredients {
    padding: 10px;
}

.ingredients ul {
    font-family: outfit;
    color: hsl(30, 10%, 34%);
    list-style: inside;
    padding-bottom: 20px;
    border-bottom: 2px solid  hsl(30, 18%, 87%);
}

.ingredients ul li {
    line-height: 2;
}

.ingredients ul li::marker {
    color: hsl(14, 45%, 36%);
}

.instructions {
    padding: 10px 20px 0 20px;
}

.instructions ol {
    font-family: outfit;
    color: hsl(30, 10%, 34%);
    list-style: outside decimal;
    line-height: 2;
}

.instructions ol li {
    padding-left: 10px;
}

.instructions ol li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}

.instructions ol span {
    font-weight: 600;
}

.nutritions {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 10px;
    font-family: outfit;
    color: hsl(30, 10%, 34%);
}

.nutritions-table p {
    display: flex;
    justify-content: space-between;
    padding: 0 250px 0 30px; 
    line-height: 3;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.nutritions-table span {
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}




